<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>First-Try.html</title>
</head>
<body bgcolor="#FFF">
<h1 align="center" >LOG-First Try!</h1>


<form action="/result.html" method="POST" >
  <table width="307" height="66" border="6" align="center" bordercolorlight="#000000" bordercolordark="#000000">
    <tr>
    <td height="52">Username:      <input type="text" name="uname" value=" " id="uname1" align="absmiddle" /></td>
    <br></br>
    <td height="52">E-Mail Address:	<input type="text" name="_mail" value=" " id="_mailto" align="absmiddle" /></td>
    <br></br>
    <td height="52">Password:  <input type='password' name="pswrd" id="pswrd1" align="absmiddle" /></td>
    <td rowspan="3"><blockquote>
      <p>
        <input align="middle" type="submit" name="sub" value="Submit"  width="160" height="60"/>
      </p>
    </blockquote></td>
  </tr>
 	 <tr>
    
    </tr>
  
</table>
<br></br>
</form>

</body>
</html>
